# Binary files
onvif_srvd
onvif_srvd_debug


# SDK files
SDK/
gsoap-2.8/


# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/[Dd]ebug*/
/[Rr]elease*/
/[Bb]uild*/
/MinSizeRel*/
/RelWithDebInfo*/


# Temp files
*.*~
*.pid
*.log
*.depend


# Files that we don't want to ignore
!.gitignore
